@charset "UTF-8";
/*MMC Version 2.0*/
/*Checked 04/29-2014*/
/*Checked 08/16-2014*/

@font-face {
    font-family: 'HelveticaNeueLTPro75Bold';
    src: url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-bd-webfont.eot');
    src: url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-bd-webfont.eot?iefix') format('eot'),
         url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-bd-webfont.woff') format('woff'),
         url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-bd-webfont.ttf') format('truetype'),
         url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-bd-webfont.svg#webfontqCgATdbH') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTPro45Light';
    src: url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-lt-webfont.eot');
    src: url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-lt-webfont.eot?iefix') format('eot'),
         url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-lt-webfont.woff') format('woff'),
         url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-lt-webfont.ttf') format('truetype'),
         url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-lt-webfont.svg#webfontLm5M2jvF') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTPro35Thin';
    src: url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-th-webfont.eot');
    src: url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-th-webfont.eot?iefix') format('eot'),
         url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-th-webfont.woff') format('woff'),
         url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-th-webfont.ttf') format('truetype'),
         url('../WebFonts/webfontkit_Helvetica/helveticaneueltpro-th-webfont.svg#webfontE3PX1ZEo') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '"HelveticaNeueLTPro65Medium"';
    src: url('../WebFonts/webfontkit_Helvetica_Full/helveticaneueltpro-md-webfont.eot');
    src: url('../WebFonts/webfontkit_Helvetica_Full/helveticaneueltpro-md-webfont.eot?iefix') format('eot'),
         url('../WebFonts/webfontkit_Helvetica_Full/helveticaneueltpro-md-webfont.woff') format('woff'),
         url('../WebFonts/webfontkit_Helvetica_Full/helveticaneueltpro-md-webfont.ttf') format('truetype'),
         url('../WebFonts/webfontkit_Helvetica_Full/helveticaneueltpro-md-webfont.svg#webfontJ2reeYUQ') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {margin: 0;padding: 0;text-align: center;color: #000000;font-family: "HelveticaNeueLTPro65Medium", Helvetica, sans-serif;background-color: #FFFFFF;min-height: 100%;height: auto;background-image: url(../images_App_Template/mmc_header.jpg);background-repeat: repeat-x;background-position: 0px 0px;}

#topMenu 	{width: 1020px;height: 33px;padding: 0;position: relative;margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;background-position: 0px 2px;}
#topMenu li {margin: 0; padding: 0; list-style: none; position: absolute; top: 0;}
#topMenu li, #topMenu a {height: 33px; display: block; outline:none;}

#subMenu li {margin: 0; padding: 0; list-style: none; position: absolute; top: 0;}
#subMenu li, #subMenu a {height: 50px; display: block; outline:none;}

#panel1a {left: 0px;width: 140px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: 0px 2px;}
#panel2a {left: 140px; width: 140px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: -140px 2px;}
#panel3a {left: 280px; width: 140px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: -280px 2px;}
#panel4a {left: 900px; width: 100px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: -900px 2px;}
#panel5a {left: 840px; width: 140px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: 0px 2px;}

#panel1a_alt {left: 0px;width: 140px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: 0px -29px;}
#panel2a_alt {left: 140px; width: 140px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: -140px -29px;}
#panel3a_alt {left: 280px; width: 140px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: -280px -29px;}
#panel4a_alt {left: 900px; width: 100px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: -900px -29px;}
#panel5a_alt {left: 840px; width: 140px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: 0px -29px;}

#panel1a a:hover {left: 0px;width: 140px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: 0px -29px;}
#panel2a a:hover {left: 140px; width: 140px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: -140px -29px;}
#panel3a a:hover {left: 280px; width: 140px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: -280px -29px;}
#panel4a a:hover {left: 900px; width: 100px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: -900px -29px;}
#panel5a a:hover {left: 840px; width: 140px;height: 33px;background-image: url(../images_App_Template/mmc_Menu.png);background-repeat: no-repeat;background-position: 0px -29px;}

#panel1a a:active {left: 0px;width: 140px;height: 33px;}
#panel2a a:active {left: 140px; width: 140px;height: 33px;}
#panel3a a:active {left: 280px; width: 140px;height: 33px;}
#panel4a a:active {left: 900px; width: 100px;height: 33px;}
#panel5a a:active {left: 840px; width: 140px;height: 33px;}

#panel1b {left: 0px; width:147px;}
#panel2b {left: 147px; width: 147px;}
#panel3b {left: 294px; width: 169px;}
#panel4b {left: 463px; width: 170px;}
#panel5b {left: 633px; width: 146px;}

#panel1b_alt {left: 0px; width: 147px; background: transparent url(images_GlobalTemplate/sub_menu.jpg) -0px -100px no-repeat; outline:none;}
#panel2b_alt {left: 147px; width: 147px; background: transparent url(images_GlobalTemplate/sub_menu.jpg) -147px -100px no-repeat; outline:none;}
#panel3b_alt {left: 294px; width: 169px; background: transparent url(images_GlobalTemplate/sub_menu.jpg) -294px -100px no-repeat; outline:none;}
#panel4b_alt {left: 463px; width: 170px; background: transparent url(images_GlobalTemplate/sub_menu.jpg) -463px -100px no-repeat; outline:none;}
#panel5b_alt {left: 633px; width: 146px; background: transparent url(images_GlobalTemplate/sub_menu.jpg) -633px -100px no-repeat; outline:none;}

#panel1b a:hover {background: transparent url(images_GlobalTemplate/sub_menu.jpg) -0px -50px no-repeat; outline:none;}
#panel2b a:hover {background: transparent url(images_GlobalTemplate/sub_menu.jpg) -147px -50px no-repeat; outline:none;}
#panel3b a:hover {background: transparent url(images_GlobalTemplate/sub_menu.jpg) -294px -50px no-repeat; outline:none;}
#panel4b a:hover {background: transparent url(images_GlobalTemplate/sub_menu.jpg) -463px -50px no-repeat; outline:none;}
#panel5b a:hover {background: transparent url(images_GlobalTemplate/sub_menu.jpg) -633px -50px no-repeat; outline:none;}

#panel1b a:active {background: transparent url(images_GlobalTemplate/sub_menu.jpg) -0px -100px no-repeat; outline:none;}
#panel2b a:active {background: transparent url(images_GlobalTemplate/sub_menu.jpg) -147px -100px no-repeat; outline:none;}
#panel3b a:active {background: transparent url(images_GlobalTemplate/sub_menu.jpg) -294px -100px no-repeat; outline:none;}
#panel4b a:active {background: transparent url(images_GlobalTemplate/sub_menu.jpg) -463px -100px no-repeat; outline:none;}
#panel5b a:active {background: transparent url(images_GlobalTemplate/sub_menu.jpg) -633px -100px no-repeat; outline:none;}

/*Welcome UI*/
#mmc_button_welcome_container {height: 56px;width: 112px;display: block;outline: none;text-align: center;font-family: "HelveticaNeueLTPro65Medium", Helvetica, serif;font-size: 15px;line-height: 15px;color: #000;float: left;margin-top: 5px;margin-right: 15px;margin-bottom: 15px;margin-left: 0px;position: relative;color: #FFF;}
#mmc_button_welcome_container_middle {position: absolute;top: 3px;left: 5px;}
#mmc_button_welcome_container_inner {margin-left: auto;margin-right: auto;text-align: left;width: 108px;padding: 5px;}

.mmc_button_welcome, .mmc_button_welcome:link, .mmc_button_welcome:active, .mmc_button_welcome:visited {font-family: "HelveticaNeueLTPro65Medium", Helvetica, serif;height: 60px;width: 108px;display: block;outline: none;background-color: #5898FF;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;text-decoration: none;-webkit-appearance: none;-webkit-appearance: none;-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;font-size: 14px;line-height: 14px;color: #FFF;text-align: left;text-decoration: none;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 4px;cursor: pointer;}
.mmc_button_welcome:hover {cursor: pointer;background-color: #CCC;}

.mmc_notify_container 			{-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;background-color: #FFF;border: 1px solid #87C041;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;}
.mmc_notify_number 				{font-family: "HelveticaNeueLTPro35Thin", Helvetica, Arial, sans-serif;font-size: 64px;line-height: 64px;color: #87C041;text-align: center;}
.mmc_notify_title 				{font-family: "HelveticaNeueLTPro35Thin", Helvetica, Arial, sans-serif;font-size: 14px;line-height: 18px;color: #000;text-align:center;}
.mmc_notify_button				{display:block; text-align:center; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; padding: 2px 10px 3px 10px;font: 11px/11px Helvetica, sans-serif;color: #FFF;background: #5898FF; border-top: none;border-right: none;border-bottom: none;border-left: none;text-decoration:none;outline:none; cursor: pointer; margin:0px;-webkit-appearance: none;}
a.mmc_notify_button:link 		{display:block; text-align:center; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; padding: 2px 10px 3px 10px;font: 11px/11px Helvetica, sans-serif;color: #FFF;background: #5898FF; border-top: none;border-right: none;border-bottom: none;border-left: none;text-decoration:none;outline:none; cursor: pointer; margin:0px;-webkit-appearance: none;}
a.mmc_notify_button:visited		{display:block; text-align:center; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; padding: 2px 10px 3px 10px;font: 11px/11px Helvetica, sans-serif;color: #FFF;background: #5898FF; border-top: none;border-right: none;border-bottom: none;border-left: none;text-decoration:none;outline:none; cursor: pointer; margin:0px;-webkit-appearance: none;}
a.mmc_notify_button:active 		{display:block; text-align:center; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; padding: 2px 10px 3px 10px;font: 11px/11px Helvetica, sans-serif;color: #FFF;background: #5898FF; border-top: none;border-right: none;border-bottom: none;border-left: none;text-decoration:none;outline:none; cursor: pointer; margin:0px;-webkit-appearance: none;}
a.mmc_notify_button:hover 		{display:block; text-align:center; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; padding: 2px 10px 3px 10px;font: 11px/11px Helvetica, sans-serif;color: #FFF;background: #CCC; border-top: none;border-right: none;border-bottom: none;border-left: none;text-decoration:none;outline:none; cursor: pointer; margin:0px;-webkit-appearance: none;}


/*odd ball*/
.news_PhotoFrame_Left {padding: 10px;border: 1px solid #CCC;margin-top: 5px;margin-right: 5px;margin-bottom: 15px;margin-left: 15px;width: 250px;}

#donations_right {font-family: "HelveticaNeueLTPro65Medium", Helvetica, Arial, sans-serif;color: #333;background-color: #ECECEC;padding: 8px;width: 200px;margin-left: 20px;margin-right: 10px;border: 1px solid #999;}
#Lineup {background-image: url(../images_lineup/bk_lineup.jpg);background-repeat: no-repeat;height: 136px;width: 135px;padding-top: 15px;font-family: "HelveticaNeueLTPro65Medium", Helvetica, Arial, sans-serif;font-size: 11px;line-height: 14px;text-align: center;}
#PullQuote {font-family: "HelveticaNeueLTPro65Medium", Helvetica, Arial, sans-serif;font-size: 20px;color: #666;border-top-width: 1px;border-bottom-width: 1px;border-top-style: solid;border-bottom-style: solid;border-top-color: #666;border-left-color: #666;padding-top: 15px;padding-right: 5px;padding-bottom: 15px;padding-left: 5px;line-height: 26px;}
#PhotoAlign {font-family: "HelveticaNeueLTPro65Medium", Helvetica,  Arial, sans-serif;font-size: 12px;padding: 5px;border: 1px solid #CCC;margin-bottom: 10px;}

.login_button 		{height: 39px;width: 150px;display: block;background: transparent url(images_GlobalTemplate/button_menu.jpg) 0px 0px no-repeat;outline:none;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none; }
.login_button:hover {background: transparent url(images_GlobalTemplate/button_menu.jpg) -0px -50px no-repeat;outline:none;cursor: pointer;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none; }

.icons_Status_Active {height: 50px;	width: 50px;display: block;	background: transparent url(../images_GlobalTemplate/icons_Status.jpg) 0px 0px no-repeat;outline:none;border-top-style: none;border-right-style: none;border-bottom-style: none;	border-left-style: none;}
.icons_Status_Disabled {height: 50px; width: 50px;display: block; background: transparent url(../images_GlobalTemplate/icons_Status.jpg) -50px 0px no-repeat;outline:none;border-top-style: none;border-right-style: none;border-bottom-style: none;	border-left-style: none;}
.icons_Status_Archive {height: 50px; width: 50px;display: block; background: transparent url(../images_GlobalTemplate/icons_Status.jpg) -100px 0px no-repeat;outline:none;border-top-style: none;border-right-style: none;border-bottom-style: none;	border-left-style: none;}

.icons_Pin_KeepTop {height: 70px;width: 700px;display: block;outline:none;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;background-color: transparent;background-image: url(../images_icons/icon_Pin-Paper.png);background-repeat: no-repeat;background-position: 0px 0px;margin-left: 130px; }
.icons_Pin_KeepBottom {height: 15px;width: 700px;display: block;outline:none;background-color: transparent;background-image: url(../images_icons/icon_Pin-Paper.png);background-repeat: no-repeat;background-position: 0px -90px;margin-left: 130px; }

.button_view {height: 25px;width: 68px;display: block;background: transparent url(../images_GlobalTemplate/buttons_action.jpg) 0px 0px no-repeat;outline:none;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;}
.button_view:hover {background: transparent url(../images_GlobalTemplate/buttons_action.jpg) -0px -25px no-repeat;outline:none;cursor: pointer;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;}
.button_view:active {background: transparent url(../images_GlobalTemplate/buttons_action.jpg) -0px -50px no-repeat;outline:none;cursor: pointer;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;}

.button_edit {height: 25px;width: 68px;display: block;background: transparent url(../images_GlobalTemplate/buttons_action_edit.png) 0px 0px no-repeat;outline:none;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;float:left;}
.button_edit:hover {background: transparent url(../images_GlobalTemplate/buttons_action_edit.png) -0px -25px no-repeat;outline:none;cursor: pointer;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;float:left;}
.button_edit:active {background: transparent url(../images_GlobalTemplate/buttons_edit.png) -0px -50px no-repeat;outline:none;cursor: pointer;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;float:left;}

/*This group might have been changed from ID to class*/
.twoColHybLtHdr #container {width: 1024px;text-align: left;margin-top: 0;margin-right: auto;margin-bottom: 0;margin-left: auto;min-height: 728px;position: relative;} 
.twoColHybLtHdr #container_wide {width: 1050px;text-align: left;margin-top: 0;margin-right: auto;margin-bottom: 0;margin-left: auto;}

.twoColHybLtHdr #headerTopNav {height: 33px;padding: 0px;text-align: left;margin-bottom: 20px;}
.twoColHybLtHdr #header {height: 92px;padding: 0;background-image: url(../images_App_Template/mmc_Logo.png);background-repeat: no-repeat;background-position: 4px 20px;}

.twoColHybLtHdr #navBar {height: 40px;font-family: "HelveticaNeueLTPro65Medium", Helvetica, sans-serif;font-size: 14px;color: #4A4A56;height: 16px;margin-left: 20px;}
.twoColHybLtHdr #CommentsTitle {padding: 5px;font: 18px/20px "HelveticaNeueLTPro65Medium", Helvetica, Arial, sans-serif;border-bottom: 1px solid #000;}
.twoColHybLtHdr #Comments {padding-top: 10px;padding-right: 5px;padding-bottom: 10px;padding-left: 20px;border-left-width: 3px;border-left-style: solid;border-left-color: #666;border-top-width: 1px;border-top-style: dashed;border-top-color: #CCC;margin-top: 10px;}
.twoColHybLtHdr #Comments_respond {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;margin-top: 0px;}

.twoColHybLtHdr #Donation_Process {background-image: url(../images_icons/icon_donation_process.jpg);background-repeat: no-repeat;padding-top: 40px;padding-right: 0px;padding-bottom: 0px;padding-left: 125px;margin-top: 10px;border-top-width: 1px;border-top-style: solid;border-top-color: #F0F0F0;}
.twoColHybLtHdr #Task {margin-bottom: 20px;background-color: #F9F9F9;padding-top: 5px;padding-bottom: 5px;padding-right: 5px;padding-left: 5px;border: 1px solid #E4E8E5;}
.twoColHybLtHdr #imageRight {padding: 0px;width: 250px;float: right;margin-bottom: 15px;clear: right;margin-left: 20px;margin-right: 15px;}
/**/
